.er__activities{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 398.54px;
    height: 624px;
    background: #FAFFFC;
    border: 0.5px solid rgba(12, 151, 57, 0.1);
    box-shadow: 0px 4px 40px rgba(89, 89, 89, 0.1);
    border-radius: 20px;
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.er__activities-img{
    display: flex;
    justify-content: center;
}
.er__activities-img img{
    width: 366.93px;
    height: 286.93px;
    border-radius: 15px;
}
.er__activities-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem 4rem 0rem;
}
.er__activities-content h5{
    font-family: dosis-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #0C9739;
}
.er__activities-content p{
    font-family: nunito-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 147.4%;
    color: #333333;
    height: 100px;
    margin-top: 1rem;
}
.link1{
    display: flex;
    align-items: center;
}
.arrow{
    margin-top: 2px;
    margin-left: 5px;
    color: #F9175B;
}
.er__activities-more{
    display: flex;
    align-items: center;
}
.view{
    /* font-family: 'Helvetica Neue LT Pro'; */
    font-family: nunito-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    opacity: 0.6;
}

@media screen and (max-width: 1100px) {
    .er__activities{
        width: 298.54px;
        height: 484px;
        padding: 1rem;
        margin-right: 1.2rem;
    }
    .er__activities-img img{
        width: 276.93px;
        height: 206.93px;
    }
    .er__activities-content h5{
        font-size: 18px;
        line-height: 28px;
    }
    .er__activities-content p{
        font-size: 12px;
        height: 85px;
        margin-top: 0.5rem;
        height: 60px;
    }
    .view{
        font-size: 13px;
    }
}

@media screen and (max-width: 800px) {
    .er__activities{
        width: 308.54px;
        height: 424px;
        padding: 1rem;
        margin-right: 2rem;
    }
    .er__activities-img img{
        width: 276.93px;
        height: 186.93px;
    }
    .er__activities-content h5{
        font-size: 16px;
        line-height: 28px;
    }
    .er__activities-content{
        padding: 1rem 1rem 4rem 0rem;
    }
    .er__activities-content p{
        font-size: 13px;
        height: 40px;
        margin-top: 0.3rem;
    }
    .view{
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .er__activities{
        width: 298.54px;
        height: 374px;
        margin-right: 0rem;
    }
    .er__activities-img img{
        width: 256.93px;
        height: 146.93px;
    }
    .er__activities-content h5{
        font-size: 14px;
        line-height: 28px;
    }
    .er__activities-content p{
        font-size: 13px;
        height: 30px;
        margin-top: 0.3rem;
    }
}