.e__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
    background: #fff;   
    /* background: linear-gradient(75.96deg, rgba(255, 200, 58, 1) 13.64%, rgba(255, 0, 138, 1) 46.53%,rgba(97, 0, 255, 1)  78.88%); */
    background:  linear-gradient(75.96deg, rgba(255, 200, 58, 0.1) 13.64%, rgba(255, 0, 138, 0.1) 46.53%,rgba(97, 0, 255, 0.1)  78.88%),
    linear-gradient(94.74deg, rgba(0, 26, 255, 0) 8.97%, rgba(110, 229, 194, 0) 94.65%);
    /* (to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%) */
    /* mix-blend-mode: hard-light; */
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2); 
}
/* rgba(0, 26, 255, 1)
rgba(110, 229, 194, 1) */
/* .e__navbar-links{
    flex: 1;
    display: flex;
} */

.e__navbar-links_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.e__navbar-links_logo img{
    width: 81px;
    height: 67.03px;
}

.link{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    color: #f5c10b;
    text-decoration: none;
}
.e__navbar-links_container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}
/* .e__navbar-links_container p{
    font-size: 17px;
} */
.e__navbar-links_container .link{
    color: #fff;
    font-size: 18px;
    margin-right: 2rem;
}
.explore{
    color: #fff;
}
.e_navbar-menu{
    display: flex;
    /* position: relative; */
    /* z-index: 20; */
}
.e_navbar-menu p{
    margin-right: 5px;
}
.e_navbar-menu svg{
    cursor: pointer;
}
.e_navbar-menu_container{
    display: none;
}
.e_navbar-menu_container p{
    font-family: dosis-extrabold;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin: 0 1rem;
    cursor: pointer;
    padding: 1rem 0;
}
/* .e_navbar-menu_container-img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.e_navbar-menu_container-img img{
    width: 249.91px;
    height: 350px;
} */
.e_navbar-menu_container-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@media screen and (max-width: 1050px) {
    .e_navbar-menu_container{
        width: 700px;
    }
    .e__navbar-links_logo img{
        width: 51px;
        height: 57.03px;
    }
    /* .e__navbar-links_container{
        display: none;
    } */

    /* .e_navbar-menu{
        display: flex;
    } */

    /* .e_navbar-menu_container p{
        color: #000;
        font-weight: 500;
    } */

    /* .vert{
        display: none;
    } */

    /* .signup-btn{
        color: #000;
        background: #fff;
        text-align: center;
        padding: 0;
        line-height: 3px;
    } */

}

@media screen and (max-width: 800px) {
    .e_navbar-menu_container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* align-items: center; */
        text-align: end;
        background: #00003D;
        padding: 2rem 3rem;
        position: absolute;
        top: 55px;
        right: 10px;
        margin-top: 1rem;
        min-width: 210px;
        width: 300px;
        /* height: 450px; */
        border-radius: 5px;
        /* box-shadow: 0 0 5 rgba(0, 0, 0, 0.2); */
        z-index: 1000;
    }
    .e__navbar-links_container{
        display: none;
    }
    .e__navbar{
        padding: 0.5rem 4rem;
    }
    .e__navbar-links_logo img{
        width: 61px;
        height: 47.03px;
    }
    .e_navbar-menu_container{
        width: 400px;
    }
    .e_navbar-menu_container-img img{
        width: 149.91px;
        height: 350px;
    }
}

@media screen and (max-width: 500px) {
    .e__navbar{
        padding: 0.5rem 2rem;
    }
    .e__navbar-links_logo img{
        width: 51px;
        height: 47.03px;
    }
    .explore{
        margin-top: 10px;
    }
    /* .e_navbar-menu_container-img img{
        display: none;
    } */

    /* .e_navbar-btn{
        display: none;
    } */

    .e_navbar-menu_container{
        top: 40px;
        width: 250px;
    }

    /* .e_navbar-menu_container-links-btn{
        display: block;
    } */

    /* .e_navbar-menu_container button{
        background: #000;
        color: #fff;
    } */

}
@media screen and (max-width: 400px) {
    .explore{
        font-size: 13px;
    }
}




