.life__partnerus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
}
.life__partner-content{
    padding: 0 1rem 0 0 ;
}
.life__partner-content h2{
    font-family: dosis-extrabold;
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    line-height: 85px;
    color: #FEFDFE;
}
.life__partner-content p{
    font-family: nunito-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #FEFDFE;
    width: 70%;
    margin-top: 10px;
}
.btn{
    margin-top: 2rem;
}
.btn a{
    background: #F9175B;
    border-radius: 30px;
    font-family: nunito-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 0.7rem 2rem;
    text-align: center;
    color: #FFFFFF;
}
.life__partner-image img{
    width: 673px;
    height: 449px;
    border-radius: 10px;
}
@media screen and (max-width: 1100px) {
    .life__partnerus{
        padding: 4rem 5rem;
    }
    .life__partner-content{
        padding: 0 1.1rem 0 0 ;
    }
    .life__partner-content h2{
        font-size: 55px;
        line-height: 75px;
    }
    .life__partner-content p{
        font-size: 21px;
        line-height: 33px;
        width: 85%;
    }
    .btn a{
        font-size: 15px;
        line-height: 20px;
    }
    .life__partner-image img{
        width: 473px;
        height: 349px;
    }
}

@media screen and (max-width: 800px) {
    .life__partnerus{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4rem 6rem;
    }
    .life__partner-image img{
        width: 443px;
        height: 309px;
        margin-top: 3rem;
    }
    .life__partner-content p{
        font-size: 20px;
        line-height: 32px;
    }
}

@media screen and (max-width: 500px) {
    .life__partnerus{
        padding: 4rem 3rem;
    }
    .life__partner-content h2{
        font-size: 40px;
        line-height: 48px;
    }
    .life__partner-content p{
        font-size: 19px;
        line-height: 27px;
    }
    .life__partner-image img{
        width: 313px;
        height: 209px;
        margin-top: 3rem;
    }
    .btn{
        margin-top: 0.4rem;
    }
}

@media screen and (max-width: 400px) {
    .life__partnerus{
        padding: 4rem 2rem;
    }
    .life__partner-content h2{
        font-size: 36px;
        line-height: 45px;
    }
    .life__partner-content p{
        font-size: 17px;
        line-height: 24px;
    }
    .life__partner-image img{
        width: 283px;
        height: 179px;
    }
    .btn{
        margin-top: 0.3rem;
    }
}