.er__aboutlife{
    margin: 8rem 0rem 4rem;
}
.er__aboutlife h2{
    padding: 1rem 2rem;
    text-align: center;
    font-family: dosis-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 78px;
    color: #FEFDFE;
}
.er__aboutlife-rec{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .er__aboutlife h2{
        padding: 1rem 2rem 0.1rem;
        font-size: 42px;
        line-height: 38px;
    }
}

@media screen and (max-width: 800px) {
    .er__aboutlife h2{
        padding: 1rem 2rem 0.1rem;
        font-size: 36px;
        line-height: 18px;
    }
}

@media screen and (max-width: 500px) {
    .er__aboutlife{
        margin: 4rem 0rem 2rem;
    }
    .er__aboutlife h2{
        font-size: 30px;
        line-height: 8px;
    }
}