.er__sliderbox{
    width: 500px;
    height: 700px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 3rem 2rem;
    margin-right: 1rem;
}
.er__sliderbox h2{
    font-family: dosis-extrabold;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #FEFDFE;
}
.er__sliderbox p{
    font-family: nunito-light;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 33px;
    color: #FEFDFE;
    width: 80%;
}

@media screen and (max-width: 1100px) {
    .er__sliderbox{
        width: 370px;
        height: 550px;
        margin-right: 2rem;
        margin-bottom: 3rem;
    }
    .er__sliderbox h2{
        font-size: 23px;
        line-height: 39px;
    }
    .er__sliderbox p{
        font-size: 18px;
        line-height: 30px;
        color: #FEFDFE;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .er__sliderbox{
        width: 280px;
        height: 400px;
        margin-right: 0.6rem;
        padding: 2rem;
    }
    .er__sliderbox h2{
        font-size: 19px;
        line-height: 30px;
    }
    .er__sliderbox p{
        font-size: 15px;
        line-height: 27px;
    }
}
@media screen and (max-width: 500px) {
    .er__sliderbox{
        width: 184px;
        height: 300px;
        margin-right: 0.6rem;
        padding: 1rem;
    }
    .er__sliderbox h2{
        font-size: 15px;
        line-height: 17px;
    }
    .er__sliderbox p{
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (max-width: 400px) {
    .er__sliderbox{
        width: 163px;
        height: 280px;
        padding: 0.5rem;
    }
    .er__sliderbox h2{
        font-size: 13px;
        line-height: 14px;
    }
    .er__sliderbox p{
        font-size: 9px;
        line-height: 14px;
    }
}